<blockquote class="blockquote quote-border mb-4 p-3">
  <p class="mb-3"><%= @question %></p>
  <footer class="blockquote-footer"><cite>You</cite></footer>
</blockquote>
<blockquote class="blockquote quote-border p-3 mark">
  <p class="mb-3"><%= @answer %></p>
  <footer class="blockquote-footer"><cite>Your coach</cite></footer>
</blockquote>
<%= link_to 'Ask a new question', 'ask' %>
