<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question">
    <div class="input-group-append">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </div>
</form>
